[Unit]

Description=Subscribe for NEST-thermostate events

After=multi-user.target

[Service]

Type=idle
Nice=1
Restart=on-failure
RestartSec=5s
ExecStart=/home/sh2/exe/nest/subscribe.php

[Install]

WantedBy=multi-user.target